<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <!-- to profit from features in 2012, use its dialect -->
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="query.substitutions">hqlFunction=SQLFUNC</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!-- the simplest connection string -->
      <property name="connection.connection_string">Data Source=LUISDAVID-PC\SQLEXPRESS2012;Database=GD1C2016;Trusted_Connection=True;User Id=sa;Password=gestiondedatos</property>
      <property name="show_sql">true</property>
      <property name="default_schema">LOPEZ_Y_CIA</property>
      <mapping assembly="WindowsFormsApplication1" />
      
    </session-factory>
  </hibernate-configuration>

  <!-- other app specific config follows -->
  <appSettings>
    <add key="fechaSistema" value="18/05/2016"/>
  </appSettings>
  
</configuration>
